.navbar {
	background-color: #8E1F1C;
	box-shadow: 0 0 10px #9e9e9e;
}

.navbar-brand {
	color: #ffffff;
	padding-right: 25px;
}

.bars-click {
	color: #ffffff;
	padding: 0 25px 0 10px;
	cursor: pointer;
}

#sidebar {
	margin-left: -16.66%;
	transition: .3s all ease-in-out;
}

.sidebar-list {
	border-right: 1px solid #e0e0e0;
	list-style: none;
	padding: 25px 0 0 0;
}

.sidebar-list a {
	color: #767676;
}

.sidebar-list a:hover {
	text-decoration: none;
}

.sidebar-item {
	display: block;
	padding: 15px 0 15px 25px;
}

.sidebar-item em {
	padding-right: 5px;
}

.sidebar-item.active, .sidebar-item:hover {
	background-color: #F5F5F5;
}

.divider {
	margin: 10px 0 10px 0;
	width: 100%;
	border-bottom: 1px solid #e0e0e0;
}

.title {
	display: block;
	padding: 10px 0 15px 25px;
	color: #767676;
}

.reveal {
	margin-left: 0 !important;
}

.application-list {
	padding: 25px 0 25px 0;
}
