<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-lg">

	<em class="fa fa-bars bars-click" (click)="barsClick()">&nbsp;</em>

	<a class="navbar-brand" href="#">Buckhall VFD</a>

	<form class="form-inline my-2 my-lg-0">
		<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
	</form>

</nav>

<div class="row">
	<div class="col-md-2" style="padding: 0;"  id='sidebar' [ngClass]="{reveal: sidebarShowing == true}">
		<div>
			<ul class="sidebar-list">
				<a class="sidebar-item active" href='#'><li><em class="fa fa-users">&nbsp;</em> All Entries</li></a>
				<li class="divider"></li>
				<li class="title">Sort by:</li>
				<a class="sidebar-item" (click)="sortBy('status')" href='#'><li><em class="fa fa-bell">&nbsp;</em> Status</li></a>
				<a class="sidebar-item" href='#'><li><em class="fa fa-user">&nbsp;</em> Name</li></a>
				<a class="sidebar-item" (click)="sortBy('appliedOn')" href='#'><li><em class="fa fa-calendar">&nbsp;</em> Applied Date</li></a>
			</ul>
		</div>		
	</div>
	<div class="col" style="padding: 0;">
		<div class='application-list'>
			<app-application *ngFor="let application of this.data | async" [application]="application"></app-application>
		</div>
	</div>
</div>
