<div class="row list-view" (click)="lgModal.show()">
	<div class="col-md-1 text-center">
		<div [ngSwitch]="this.application.status">
			<div *ngSwitchCase="'new'">
				<i class="fa fa-bell text-blue"></i>
			</div>
			<div *ngSwitchCase="'pending'">
				<i class="fa fa-eye text-yellow"></i>
			</div>
			<div *ngSwitchCase="'confirmed'">
				<i class="fa fa-check text-green"></i>
			</div>
			<div *ngSwitchCase="'denied'">
				<i class="fa fa-times text-red"></i>
			</div>
		</div>
	</div>
	<div class="col">
		{{this.application.name}}
	</div>
	<div class="col">
		Applied: {{this.application.appliedOn | date}}
	</div>
	<div class="col">
		{{this.application.email}}
	</div>
	<div class="col">
		{{this.application.phone}}
	</div>
</div>

<div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">{{this.application.name}}</h4>
        <button type="button" class="close pull-right" (click)="lgModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      	<div class="row">
      		<div class="col">
      			Phone: <b>{{this.application.phone}}</b>
      		</div>
      		<div class="col">
      			Email: <b>{{this.application.email}}</b>
      		</div>
      	</div>
      </div>
      <div class="modal-footer">
      	<button class="btn btn-secondary" (click)="lgModal.hide()">Close</button>
      </div>
    </div>
  </div>
</div>













