.row.list-view {
	margin-left: 0;
	padding: 10px;
	background-color: #ffffff;
	width: 100%;
}

.row.list-view:hover {
	background-color: #f4f4f4;
	cursor: pointer;
}

.col {
	color: #4c4c4c;
}

.text-blue {
	color: #78B8D3;
}

.text-green {
	color: #5DBF0D;
}

.text-yellow {
	color: #F08A24;
}

.text-red {
	color: #F04124;
}
